body{
    font-family: 'Cherry Swash', cursive, sans-serif;
    font-size: medium;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
  font-size: 160%;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-top: -25px;
}

#manyi{
    text-align: center;
}

#sequence{
    width: 300px;
}